<form class="" action="/posts" method="post">
  <p>Name:</p>
  <input type="text" name="name" value="">
  <p>Content</p>
  <input type="text" name="content" value="">
  <input type="submit" name="" value="submit">
</form>
